    <footer class="contact-banner">
        <h4>Copyright &copy; 2017 Richard Chang</h4>
        <ul>
            <a href="https://www.linkedin.com/in/richard-chang-b56448110/"><i class="fa fa-linkedin social-icon"></i></a>
            <a href="https://github.com/rlwchang"><i class="fa fa-github social-icon"></i></a>
        </ul>
    </footer>
    </body>
</html>
