<% include ../partials/header %>


<div class="container">
    <h2 class="text-center">Add a new skill!</h2>
    <form action="/skills" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="skill[name]" placeholder="name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="skill[svg]" placeholder="svg path description">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" min="0" max="7" name="skill[level]" placeholder="skill level 0-7">
        </div>
        <div class="form-group">
            <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="front-end"> Front-end</label>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="back-end"> Back-end</label>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="data-viz"> Data-viz</label>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="full-stack"> Full-stack</label>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="general-programming"> General-programming</label>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="workflow"> Workflow</label>
        </div>
        <button class="btn btn-primary btn-block btn-lg">Submit</button>
    </form>
    <a href="/skills" class="btn btn-default">Go Back!</a>
</div>


<% include ../partials/footer %>
