// Variables

// ------Color------
$main-background-orange: #ff9900;
$main-background-red: #ff4400;
$main-background-active-darkorange: #dd7700;
$main-text-white: #ffffff;
$main-text-active-cyan: #00ffff;
$border-radius-base: 0;

// -----Container/Viewport-----
$min-width: 300px;
