.navbar-default {
  background-color: #ff9900;
  border-color: #de8500; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #00ffff;
      background-color: transparent; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #00ffff;
      background-color: #de8500; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00ffff;
    background-color: #de8500; }
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: #de8500; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #de8500; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #de8500; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #de8500;
    color: #00ffff; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #00ffff;
        background-color: #de8500; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #00ffff;
      background-color: #de8500; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #00ffff; }
  .navbar-default .btn-link {
    color: #ffffff; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: #00ffff; }
    .navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-default .btn-link:hover,
    fieldset[disabled] .navbar-default .btn-link:focus {
      color: #ccc; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: #ff9900;
  border: 1px solid #ff9900;
  border: 1px solid #cc7a00;
  border-radius: 0;
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #ffffff;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #00ffff;
  background-color: #de8500; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #00ffff;
  text-decoration: none;
  outline: 0;
  background-color: #de8500; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #ccc; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  color: #ccc;
  white-space: nowrap; }

a {
  color: #333333; }
  a:hover, a:active {
    text-decoration: none;
    color: #dd7700; }

img {
  width: 100%; }

.container {
  width: 80%;
  min-width: 300px; }

.container-padding {
  padding: 3% 30%; }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-1 {
    width: 8.33333%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-2 {
    width: 16.66667%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-3 {
    width: 25%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-4 {
    width: 33.33333%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-5 {
    width: 41.66667%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-6 {
    width: 50%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-7 {
    width: 58.33333%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-8 {
    width: 66.66667%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-9 {
    width: 75%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-10 {
    width: 83.33333%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-11 {
    width: 91.66667%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-12 {
    width: 100%; } }

@media (min-width: 368px) and (max-width: 767px) {
  .col-xsm-6 {
    width: 50%; } }

.navbar {
  border-radius: 0;
  border-width: 0; }

.contact-banner {
  background-color: #ff4400;
  margin-top: 1.0rem;
  padding: 3.0rem;
  text-align: center; }

.social-icon {
  border-radius: 50%;
  padding: 1.0rem;
  height: 3.0rem;
  font-size: 3.0rem;
  color: #ffffff; }
  .social-icon:hover, .social-icon:focus {
    color: #00ffff; }

form {
  width: 40%;
  min-width: 300px;
  margin: 0 auto; }

textarea {
  resize: vertical;
  min-height: 5.0rem; }

.delete-form {
  display: inline; }

.row {
  display: flex;
  flex-wrap: wrap; }

.jumbotron {
  text-align: center; }

.inline-block {
  vertical-align: top;
  display: inline-block; }

.no-margin-top {
  margin-top: 0; }

.skill-icon {
  font-size: 10.0rem; }
