<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>This is the Projects page.</h1>
        <% if (currentUser) { %>
            <a class="btn btn-primary" href="/projects/new">Add a New Project</a>
        <% } %>
    </header>

    <%# ===Opportunity to DRY up code here{Create an ejs helper js file and define them there}===%>
    <% _.categories.forEach(function(category, index) { %>
        <div class="container">
            <h3><%= _.fullName[category] %></h3>
            <hr>
            <div class="row text-center">
            <% projects.forEach(function(project) { %>
                <% if (project.type === category) { %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                            <a href="/projects/<%= project._id %>">
                                <img src="/<%= project.image %>">
                                <h4><%= project.name %></h4>
                            </a>
                        </div>
                    </div>
                <% } %>
            <% }) %>
            </div>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>
